<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Condomínio</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body class="container">
    <nav>
        <a href="{{ url_for('index') }}">Home</a> |
        <a href="{{ url_for('registrar') }}">Registrar Encomenda</a> |
        <a href="{{ url_for('dar_baixa') }}">Dar Baixa em Encomenda</a> |
        <a href="{{ url_for('listar') }}">Listar Encomendas</a> |
        <a href="{{ url_for('listar_baixadas') }}">Histórico de Encomendas</a> 

    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
